html, body {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
}

.main-box {
    width: 100%;
    height: 100%;
}

div[id^="tabpanel-"] {
    height: 100%;
    background-color: #f5f5f5;
}

.check-list-page {
    display: flex;
    height: 100%;
}

.check-list-layout {
    width: 50%;
    background-color: #fff;
    margin: 16px 8px 16px 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.monitor-layout {
    width: 50%;
    margin: 16px 8px 16px 16px;
}

.follower-list {
    height: calc(50% - 8px);
    width: 100% - 5px;
    background-color: #fff;
    margin: 0px 0px 8px 0px;
    border-radius: 8px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.trend-list {
    height: calc(50% - 8px);
    width: 100%;
    background-color: #fff;
    margin: 8px 0px 0px 0px;
    border-radius: 8px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    margin-top: 16px;
}

.component-header {
    border-radius: 8px 8px 0 0;
    background-color: #e7e7e7;
    padding: 21.5px 16px 21.5px 16px;
}

.component-header > h2 {
    margin: 0;
}